# Dependencies
node_modules/
.next/

# Environment variables
.env
.env.local
.env.*.local

# Firebase credentials (MUY IMPORTANTE)
firebase-service-account.json
backend/firebase-service-account.json
*.pem

# Logs
*.log
npm-debug.log*

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
