services:
  - type: web
    name: pickgenius-backend
    runtime: node
    region: oregon
    plan: free
    branch: main
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: PORT
        value: 10000
      - key: NODE_ENV
        value: production
